apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  DB_HOST: "152.1.12.12"
  DB_PORT: "1521"
  DB_SID: "dev"
  DB_USER: "tw_mis_pmpa"
  PORT: "3000"
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
type: Opaque
data:
  # 'devpass'를 base64 인코딩한 값입니다.
  DB_PASSWORD: ZGV2cGFzcw==
